@media screen and (max-width: 1200px) {
  .menu {
    &__column:not(:last-child) {
      margin-right: 75px;
    }
  }

  .header {
    &__content {
      padding: 20px 0;
    }
  }

  .reviews {
    &__bg {
      max-width: 580px;
    }

    &__inf {
      max-width: calc(100% - 620px);
    }
  }

  .about {
    &_comment {
      .about__inf {
        padding-right: 0;
      }
    }
  }

  .contacts {
    &__inf {
      padding-right: 50px;
    }
  }
}


@media screen and (max-width: 992px) {
  .title1 {
    font-size: 44px;
    line-height: 52px;
  }

  .btn {
    padding: 10px 26px;

    &_submit {
      padding: 15px 28px;
    }
  }

  .menu {
    position: relative;
    order: 2;
    margin-left: 20px;
    margin-right: 0;

    &:before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.65);
      transition: visibility .4s, opacity .4s;
      opacity: 0;
      visibility: hidden;
    }

    &__list {
      position: fixed;  
      z-index: 4;
      transform: translateX(100%);
      background: #fff;
      transition: transform .5s ease-in-out;
      width: 350px;
      height: 100%;
      overflow-y: auto;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 50px;
    }

    &__item {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
      }

      &_has-children {
        .menu__link:after {
            content: '+';
            margin-right: 2px;
        }
      }

      &_open {
        .menu__link:after {
          content: '-';
          font-size: 24px;
          margin-right: 0;
          line-height: 20px;
        }
      }
    }

    &__link {
        color: #6a7c92;
        display: flex;
        justify-content: space-between;
        padding: 10px 22px 10px 15px;
        border-bottom: 1px rgba(106,124,146,.1) solid;
    }

    &__toggle {
      display: block;
    }

    &__close {
      display: block;
      position: absolute;
      right: 22px;
      top: 15px;
    }

    &__submenu {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: height .4s ease-in-out;
      padding-top: 0;
      height: 0;
      overflow: hidden;
    }

    &__columns {
      flex-direction: column;
      padding: 0;
    }

    &__column {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &__subcontent {
      box-shadow: none;
      padding: 0;
    }

    &__subtitle {
      padding-left: 30px;
      color: #6a7c92;
      margin-top: 15px;
      margin-bottom: 5px;
      padding-bottom: 10px;
      font-weight: 400;
      border-bottom: 1px rgba(106, 124, 146, 0.1) solid;
    }

    &__subitem {
      padding: 10px 0;
      margin: 0;
      border-bottom: 1px rgba(106,124,146,.1) solid;
    }

    &__sublink {
      color: #6a7c92;
      padding-left: 45px;

      &:before {
        display: none;
      }

      &_hot,
      &_new {
        &:after {
          display: none;
        }
      }
    }

    &__icons {
      display: none;
    }

    &_active {
      &:before {
        visibility: visible;
        opacity: 1;
      }

      .menu__list {
        transform: translateX(0);
      }
    }
  }

  .header {
    overflow-x: hidden;
    
    &__content {
      padding: 20px 0;
    }

    &__cart-link {
      margin-left: auto;
    }

    &__search-btn {
      margin-left: 25px;
    }
    
    &_index {
      .header__menu {
        .menu__link {
          color: #6a7c92;
        }
      }
    }
  }

  .main {
    &__companies {
      margin-top: 80px;
    }

    &__about {
      margin: 70px 0;
    }

    &__develop {
      margin-top: 70px;
    }

    &__team {
      margin-bottom: 80px;
    }

    &__contacts {
      margin-top: 0;
    }

    &__map {
      margin-top: 70px;
    }
   
  }

  .companies {
    &__slider {
      margin-top: 50px;
    }
  }

  .about {
    &__content {
      flex-direction: column;
      padding: 0;

      & > div:first-child {
        margin-right: 0;
        margin-bottom: 40px;
        padding-right: 0;
      }
    }

    &__bg,
    &__inf {
      width: 100%;
    }

    &__bg {
      text-align: center;
    }

    &_web,
    &_business,
    &_comment {
      .about__content > div:first-child {
        margin-right: 0;
      }
    }
  }

  .features {
    background-position: -3px 11px;

    &__content {
      padding-top: 360px;
    }

    &__list {
      flex-direction: column;
      margin-top: 30px;
    }

    &__item {
      width: 100%;
    }
  }

  .reviews {
    &__content {
      flex-direction: column;
    }

    &__inf {
      max-width: 100%;
      margin-left: 0;
    }

    &__list {
      max-width: 100%;
    }
  }

  .price {
    padding-bottom: 60px;
  }

  .plans-tabs {
    &__type {
      font-size: 20px;
    }

    &__item-btn {
      padding: 14px 28px 15px;
    }
  }

  .footer {
    &__top {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    &__column {
      width: calc(100% / 12 * 6 - 30px);
      margin-bottom: 20px;
    }
  }

  .develop {
    &__item {
      width: calc(50% - 20px);
    }
  }

  .callback {
    padding-bottom: 80px;
  }

  .team {
    &__pagination {
      display: flex;
    }
  }

  .callback-form {
    &__row {
      margin: 0;
      &_half {
        flex-direction: column;
        

        .callback-form__field {
          margin: 0 0 15px;
        }
      }
    }

    &__field {
      margin-bottom: 15px;
      display: block;
    }

    &__submit {
      margin-top: 20px;
    }
  }

  .contacts {
    &__content {
      flex-direction: column;
    }

    &__inf,
    &__form {
      width: 100%;
    }

    &__inf {
      padding-right: 0;
    }

    &__form {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .title3 {
    font-size: 28px;
    line-height: 42px;
  }

  .title5 {
    font-size: 20px;
    line-height: 28px;
  }

  .menu {
    &__list {
      max-width: 270px;
    }
  }

  .banner {
    &__content {
      flex-direction: column;
    }

    &__inf,
    &__bg {
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    &_mobile_left {
      .banner__inf {
        text-align: left;
      }
    }
  }

  .about {
    &_web {
      text-align: center;

      .about__title3 {
        &:after {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &__property {
      justify-content: center;
    }
  }

  .plans-tabs {
    &__list {
      flex-direction: column;
    }
  }

  .footer {
    &__top {
      margin-left: 0;
      margin-right: 0;
    }

    &__column {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    &__bottom {
      flex-direction: column;
    }

    &__copyright {
      margin-bottom: 15px;
    }
  }

  .develop {
    &__list {
      margin-left: 0;
      margin-right: 0;
    }

    &__item {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .team {
    margin-top: -50px;
    padding-top: 80px;
  }

  .callback {
    &__content {
      flex-direction: column;
    }

    &__inf,
    &__form {
      width: 100%;
    }

    &__inf {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .about {
    &__properties {
      margin-left: 0;
      margin-right: 0;
    }

    &__property {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
    }

    &__property-name {
      margin-left: 0;
      margin-top: 15px;
    }

    &__features {
      margin-left: 0;
      margin-right: 0;
    }

    &__feature {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .explore {
    &__item {
      margin: 0;
    }
  }

  .contacts {
    &__form {
      padding: 30px 15px;
    }
  }

  .not-found {
    padding: 120px 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .title1 {
    font-size: 36px;
    line-height: 44px;
  }

  .main {
    &__companies {
      margin-top: 40px;
    }

    &__about {
      margin: 55px 0;
    }

    &__develop {
      margin-top: 50px;
    }

    &__team {
      margin-bottom: 50px;
    }

    &__map {
      margin-top: 50px;
    }
  }

  .companies {
    &__title3 {
      padding: 0;
    }
  }

  .about {
    &__item {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__item-inf {
      margin-left: 0;
    }

    &_help {
      text-align: center;
    }
  }

  .features {
    &__content {
      padding-top: 320px;
    }

    &__list {
      margin-top: 0;
    }

    &__item {
      margin: 10px;
    }
  }

  .price {
    padding-bottom: 20px;
  }

  .footer {
    padding-top: 40px;

    &__column {
      margin-bottom: 15px;
    }
  }

  .develop {
    &__item {
      padding: 25px 35px;
    }
  }

  .callback {
    padding-bottom: 50px;
  }

  .contacts {
    padding-top: 60px;
  }
}
