@import 'mixins';
@import 'vars';
@import 'libs';
@import 'base';
@import 'fonts';

.wow {
    visibility: hidden;
}

.btn {
    color: #fff;
    background: linear-gradient(to right,#fa7c41 0%,#ff6565 100%);
    border-radius: 30px;
    padding: 12px 30px;
    transition: all .3s ease-in-out;
    display: inline-block;
    letter-spacing: .8px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 8px 25px rgba(0, 0, 0, .25);
        transform: translateY(-5px);
    }

    &_white {
        background: #fff;
        border: 1px solid $color-secondary;
        color: $color-secondary;

        &:hover {
            background: linear-gradient(to right,#fa7c41 0%,#ff6565 100%);
            color: #fff;
        }
    }

    &_submit {
        padding: 20px 40px;
        background: linear-gradient(to right,#fa897d 0%,#fe5f88 100%);
        border: none;
        border-radius: 3px;
        letter-spacing: 1.8px;

        &:hover {
            box-shadow: none;
            transform: translateY(0);
        }
    }

    &_pink {
        background: #fe5f88;
        padding: 14px 35px;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;

        &:before {
            content: '\f060';
            font-family: "FontAwesome";
            display: inline-block;
            font-size: 20px;
            margin-right: 10px;
        }

        &:hover {
            background: #fa897d;
            transform: translateY(0);
            box-shadow: none;
        }
    }
}

.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
    font-weight: 600;
    color: #306;
}

.title1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -.6px;
}

.title2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.title3 {
    font-size: 30px;
    line-height: 45px;

    strong {
        color: $color-secondary;
    }

    &_line {
        &:after {
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            background: #f11d66;
            margin-top: 23px;
        }
    }
}

.title5 {
    font-size: 22px;
    line-height: 32px;

}

.title6 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.text {
    color: #828282;
    margin: 15px 0;
}

.subtext {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    color: #6a7c92;
}

.link {
    color: $color-primary;

    &_move {
        display: inline-block;

        &:hover {
            animation-name: horizontalShake;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 5;
        }
    }
}

.cart-link {
    position: relative;
    width: 20px;
    height: 28px;

    i {
        color: #fff;
        font-size: 18px;
    }

    &__count {
        background: #fb7a46;
        font-size: 10px;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -13px;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search-btn {
    background: transparent;
    border: none;
    cursor: pointer;

    i {
        color: #fff;
        font-size: 18px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style-type: none;
        
        &:not(:last-child) {
            margin-right: 30px;
        }

        &_has-children {
            &:hover {
                .menu__submenu {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            
            &:nth-last-child(2),
            &:last-child {
                .menu__submenu {
                    left: auto;
                    right: 0;
                }
            }

            .menu__link:after {
                display: inline-block;
                vertical-align: middle;
                margin-left: 6px;
                content: "\f107";
                font-family: "FontAwesome";
                font-size: 12px;
                height: 28px;
                width: 10px;
            }
        }
    }

    &__link {
        color: #fff;
    }

    &__submenu {
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
        position: absolute;
        transition: all .3s ease-in-out;
        padding-top: 10px;


        &_big {
            left: 0;
            width: 100%;

            .menu__subcontent {
                padding: 0;
            }
        }

        &_with_bg {
            .menu__columns {
                background-image: url('../images/submenu-bg.png');
                background-position: top left;
                background-repeat: no-repeat;
            }
        }
    }

    &__subcontent {
        background-color: #fff;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, .08);
        padding: 10px 32px;
        min-width: 240px;
    }

    &__sublist {
        margin: 0;
        padding: 0;
    }

    &__columns {
        display: flex;
        padding: 35px;
    }

    &__column {
        &:not(:last-child) {
            margin-right: 110px;
        }
    }

    &__subitem {
        margin: 8px 0;
        list-style-type: none;
    }

    &__sublink {
        position: relative;
        color: #5d587a;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 1px solid #fb7a46;
            width: 0;
            bottom: -3px;
            display: block;
            right: 0;
            transition: all .4s ease-in-out;
        }

        &:hover:before {
            width: 100%;
        }

        &_hot {
            &:after {
                content: "Hot";
                position: absolute;
                background: linear-gradient(to right,#ff3b80 0%,#f95731 100%);
                padding: 2px 4px;
                font-size: 12px;
                line-height: 12px;
                font-weight: 600;
                color: #fff;
                right: -39px;
                top: 1px;
                border-radius: 3px;
            }
        }

        &_new {
            &:after {
                content: "New";
                position: absolute;
                background: linear-gradient(to right,#25c49c 0%,#25c49c 100%);
                padding: 2px 4px;
                font-size: 12px;
                line-height: 12px;
                font-weight: 600;
                color: #fff;
                right: -44px;
                top: 1px;
                border-radius: 3px;
            }
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 16px;
        color: #252525;
        line-height: 26px;
        margin-bottom: 15px;
    }

    &__icon {
        position: absolute;
        
        svg {
            animation: particleMove 4.5s infinite linear;
        }

        &_1 {
            left: 200px;
            bottom: 30px;
        }

        &_2 {
            bottom: 10px;
            right: 250px;
        }
    }

    &__toggle,
    &__close {
        border: none;
        background: transparent;
        padding: 0;
        display: none;
        cursor: pointer;

        &:before {
            content: "\f0c9";
            font-family: "FontAwesome";
            font-size: 26px;
        }
    }

    &__toggle {
        &:before {
            color: #fff;
        }
    }

    &__close {
        &:before {
            color: #6a7c92;
            content: "\f00d";
        }
    }
}

.social-links {
    display: flex;
    align-items: center;

    &__item {
        display: inline-block;
        margin: 0 12px;

        i {
            color: #fff;
        }
    }
}

.twitter,
.facebook,
.gplus,
.pinterest {
    width: 26px;
    height: 26px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    font-size: 12px;
}

.facebook {
    background: #3b5999;
}

.twitter {
    background: #55acee;
}

.gplus {
    background: #dd4b39;
}

.pinterest {
    background: #bd081c;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: #dee7f5;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &-active {
        background-color: #f11d66;
    }
}

.scrollup {
    position: fixed;
    z-index: 3;
    right: -50px;
    bottom: 20px;
    transition: all .3s ease-in-out;
    width: 40px;
    height: 40px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .1);
    border-radius: 50%;
    border: none;
    text-align: center;
    cursor: pointer;
    background: #fff;

    &:hover {
        transform: translateY(-7px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, .15);
    }

    i {
        font-size: 25px;
        line-height: 38px;
        color: rgba(25,25,25,1);
    }

    &_show {
        right: 15px;
    }
}

.header {
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    transition: transform .4s ease-in-out, visibility .4s ease-in-out, opacity .4s ease-in-out;
    background-color: rgba(255,255,255,0.01);

    &__content {
        padding: 25px 0;   
    }

    &__main {
        position: relative; 
        display: flex;
        align-items: center;    
    }

    &__logo {
        margin-top: 8px;

        .logo__img {
            &_dark {
                display: none;
            }
        }
    }

    &__menu {
        margin-left: auto;
        margin-right: 30px;
    }

    &__cart-link {
        margin-right: 6px;
    }

    &__search-btn {
        margin-left: 30px;
    }

    &_index {
        .header__menu {
            .menu__link {
                color: #030712;
            }

            .menu__toggle {
                &:before {
                    color: #030712;
                }
            }
        }

        .header__cart-link i,
        .header__search-btn i {
            color: #030712;
        }

        .header__logo {
            .logo__img {
                &_light {
                    display: none;
                }
    
                &_dark {
                    display: inline;
                }
            }
        }
    }

    &_hide {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
    }

    &_fixed {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, .08);
        position: fixed;
        background: #fff;

        .header__menu {
            .menu__link {
                color: #030712;
            }

            .menu__toggle {
                &:before {
                    color: #030712;
                }
            }
        }

        .header__cart-link i,
        .header__search-btn i {
            color: #030712;
        }

        .header__logo {
            .logo__img {
                &_light {
                    display: none;
                }
    
                &_dark {
                    display: inline;
                }
            }
        }
    }

    &_shadow {
        box-shadow: rgba(0, 0, 0, .15) 0px 0px 15px;
    }
}

.main {
    flex: 1 1 auto;

    &__companies {
        margin-top: 140px;
    }

    &__about {
        margin: 130px 0;
    }

    &__reviews {
        margin-top: 40px;
    }

    &__plans {
        margin: 40px 0;
    }

    &__develop {
        margin-top: 100px;
    }

    &__team {
        margin-bottom: 100px;
    }

    &__contacts {
        margin: 30px 0;
    }

    &__map {
        margin-top: 120px;
    }

    &__boxes {
        margin: 90px 0 120px;
    }
}

.banner {
    padding: 84px 0 30px;
    background-size: cover;
    background-position: center;

    &__content {
        display: flex;
        align-items: center;
    }

    &__inf,
    &__bg {
        width: 50%;
    }

    &__bg {
        padding-left: 10px;
        text-align: right;
    }

    &__subtitle {
        color: $color-secondary;
    }

    &__title {
        margin: 10px 0 26px;
    }

    &__title2 {
        margin-bottom: 15px;
    }

    &__text {
        margin: 0 20px 25px 0;
        color: #306;
    }

    &__img {
        height: auto;
    }

    &__breadcrumb {
        margin-top: 20px;
    }

    &_white {
        .banner__title1,
        .banner__title2,
        .banner__text {
            color: #fff;
        }
    }

    &_portfolio {
        padding: 150px 0 110px;
    }
}

.companies {
    &__title3 {
        text-align: center;
        padding: 0 30px;
    }

    &__slider {
        margin-top: 70px;
    }

    &__item {
        text-align: center;
    }
}

.about {
    &__content {
        display: flex;
        align-items: center;

        & > div:first-child {
            margin-right: 65px;
            padding-right: 20px;
        }
    }

    &__bg {
        flex: 0 0 auto;
    }

    &__img {
        height: auto;
    }

    &__subtitle {
        color: #6a7c92;
        font-weight: 400;
        font-style: italic;
        margin: 15px 0 18px;
    }

    &__text {
        color: #828282;
        margin-bottom: 24px;
    }

    &__list {
        margin-top: 25px;
        padding-right: 20px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        margin: 15px 0;

        &:hover {
            .about__item-img {
                filter: brightness(0) invert(1);
            }

            .about__item-bg:before {
                background: linear-gradient(to right,#fa7c41 0%,#ff6565 100%) !important;
            }
        }

        &_active {
            .about__item-bg:before {
                display: none;
            }

            .about__item-img {
                box-shadow: none;
                border-radius: 0;
            }

            &:hover {
                .about__item-img {
                    filter: none;
                }
            }
        }

    }

    &__item-bg {
        flex: 0 0 auto;
        position: relative;
        
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: " ";
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .08);
            border-radius: 50%;
            width: 78px;
            height: 78px;
        }
    }

    &__item-img {
        transition: filter .3s;
        border-radius: 50%;
    }

    &__item-inf {
        margin-left: 30px;
    }

    &__item-text {
        color: #6a7c92;
        margin: 11px 0 0;
    }

    &__message {
        font-size: 17px;
        color: #6a7c92;
        margin-top: 25px;
    }

    &__properties {
        display: flex;
        flex-wrap: wrap;
        margin: 15px -5px 0;
    }

    &__property {
        display: flex;
        align-items: center;
        width: calc(50% - 10px);
        margin: 15px 5px;
    }

    &__property-name {
        color: #1e1666;
        font-size: 20px;
        line-height: 30px;
        margin-left: 15px;
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__feature {
        padding: 30px;
        margin: 10px;
        width: calc(50% - 20px);
        display: flex;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &_blue {
            background-image: url('../images/web-development/about/features/1.png');

            .about__feature-num {
                background: #7AC1EA;
            }
        }

        &_red {
            background-image: url('../images/web-development/about/features/2.png');

            .about__feature-num {
                background: #D8939A;
            }
        }

        &_purple {
            background-image: url('../images/web-development/about/features/3.png');

            .about__feature-num {
                background: #9198DB;
            }
        }

        &_yellow {
            background-image: url('../images/web-development/about/features/4.png');

            .about__feature-num {
                background: #EDC878;
            }
        }
    }

    &__feature-num {
        font-size: 20px;
        color: #fff;
        background: #1e1666;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        flex: 0 0 auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__feature-name {
        font-size: 20px;
        line-height: 30px;
        color: #1e1666;
        margin-left: 20px;
    }

    &__inf-img {
        margin-top: 20px;
    }

    &__comment {
        color: #6a7c92;
    }

    &_web,
    &_business,
    &_comment {
        .about__content > div:first-child {
            margin-right: 20px;
        }
    }

    &_business {
        .about__content {
            align-items: flex-start;
        }

        .about__inf {
            padding-top: 20px;
        }
    }

    &_comment {
        .about__inf {
            padding-right: 50px;
        }
    }
}

.features {
    background-image: url('../images/home-version-eight/features/bg.png');
    background-position: 1px 11px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    margin-top: -320px;

    &__content {
        padding-top: 420px;
    }

    &__title,
    &__text {
        text-align: center;
    }

    &__text {
        max-width: 700px;
        margin: 15px auto;
        color: #828282;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item {
        width: calc(100% / 12 * 4 - 30px);
        margin: 15px;
        text-align: center;
        padding: 40px 21px 21px;

        &_active {
            background-image: linear-gradient(90deg, #fd616b 7%, #ff9067 64%);
            padding: 40px 21px 31px;
            border-radius: 5px;

            .features__item-title,
            .features__item-link,
            .features__item-text {
                color: #fff;
            }
        }
    }

    &__item-img {
        margin-bottom: 20px;
    }

    &__item-link {
        font-size: 15px;
        font-weight: 700;
        color: $color-secondary;
    }

    &__item-text {
        color: #6a7c92;
        line-height: 25px;
    }
}

.explore {
    &__title3 {
        text-align: center;
    }

    &__text {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
        color: #828282;
    }

    &__list {
        margin-top: 10px;
    }

    &__item {
        background-color: #f8f8f8;
        margin: 15px;
    }

    &__item-img {
        height: auto;
    }

    &__item-inf {
        padding: 25px;
    }

    &__item-date {
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 22px;
        color: #828282;
    }

    &__item-text {
        margin-bottom: 0;
    }

    &__item-title {
        margin-bottom: 12px;
        font-size: 20px;
        line-height: 30px;

        a {
            color: inherit;
        }
    }
}

.reviews {
    &__content {
        display: flex;
        align-items: center;
    }

    &__bg {
        flex: 0 0 auto;
        max-width: 690px;
    }

    &__img {
        height: auto;
    }

    &__inf {
        margin-left: 40px;
        max-width: calc(100% - 730px);
    }

    &__subtitle {
        color: #6a7c92;
        font-size: 20px;
        font-weight: 400;
        line-height: 45px;
    }

    &__list {
        max-width: 450px;
    }

    &__item {
        padding-right: 25px;
    }

    &__item-text {
        color: #6a7c92;
    }

    &__author {
        margin-top: 23px;
    }
}

.author {
    display: flex;
    align-items: flex-start;

    &__img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    &__inf {
        margin-left: 15px;
    }

    &__name {
        color: #1e1666;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__position {
        color: #6a7c92;
        font-size: 13px;
    }
}

.price {
    background-image: url('../images/home-version-eight/price/bg.png');
    background-position: -615px 290px;
    background-repeat: no-repeat;
    background-size: 70% auto;
    padding-bottom: 110px;
}

.plans {
    &__title3 {
        text-align: center;
    }

    &__text {
        max-width: 700px;
        margin: 17px auto 0;
        text-align: center;
    }
}

.plans-tabs {
    &__btns {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__btn-box {
        background-color: rgba(0, 0, 0, .05);
        border-radius: 0 35px 35px 0;
        transition: all .3s ease-in-out;

        &:first-child,
        &:first-child .plans-tabs__btn {
            border-radius: 35px 0 0 35px;
        }

        &:last-child,
        &:last-child .plans-tabs__btn {
            border-radius: 0 35px 35px 0;
            margin-right: 0;
        }

        &:first-child .plans-tabs__btn_active,
        &:last-child .plans-tabs__btn_active {
            border-radius: 35px;
        }
    }

    &__btn {
        border: none;
        border-radius: 0 35px 35px 0;
        padding: 10px 25px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        display: block;
        line-height: 26px;
        margin-right: 5px;
        transition: all .3s ease-in-out;

        &_active, &_active:first-child {
            background-color: #fff;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, .12);
            border-radius: 35px;
            cursor: default;
        }
    }

    &__tab {
        display: none;

        &_active {
            display: initial;
        }
    }

    &__list {
        display: flex;
        margin-top: 30px;
    }

    &__item {
        margin: 10px;
        padding: 40px 25px 45px;
        background-color: #fff;
        border: 1px #efefef solid;
        text-align: center;
    }

    &__type {
        font-size: 22px;
        font-weight: 600;
        color: #222;
        margin-bottom: 30px;
    }

    &__price {
        font-size: 80px;
        line-height: .75;
        margin-bottom: 30px;
        font-weight: 600;
        color: #1e1666;
        display: flex;
        justify-content: center;

        sup {
            display: inline-block;
            vertical-align: top;
            margin-top: 11px;
            margin-right: 8px;
            font-weight: 400;
            font-size: 24px;
            line-height: 1;
        }
    }

    &__tag {
        display: inline-block;
        padding: 5px 17px;
        background-color: #d9d4f0;
        color: #252525;
        border-radius: 35px;
    }

    &__features {
        margin-top: 26px;
    }

    &__feature {
        color: #828282;

        &:not(:last-child) {
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px #f3f3f3 solid;
        }
    }

    &__item-btn {
        padding: 17px 37px 18px;
        margin-top: 30px;
    }
}

.footer {
    padding: 85px 0 25px;
    background: #332295;
    flex: 0 0 auto;
    

    &__top {
        display: flex;
        margin: 0 -15px 50px;
    }

    &__column {
        width: calc(100% / 12 * 4 - 30px);
        margin: 0 15px;
        color: #fff;
    }

    &__logo {
        margin-top: 30px;
        display: inline-block;
    }

    &__title {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 35px;
        margin-bottom: 22px;
    }

    &__item {
        margin-bottom: 9px;
    }

    &__link {
        color: #cec9ef;

        &_light {
            color: #c2d6d7;
        }

        &_contact {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__text {
        color: #cec9ef;
        line-height: 32px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 22px;
        border-top: 1px solid #5448aa;
    }

    &__copyright {
        color: #fff;
    }

    &_index {
        background: #051442;
    }
}

.develop {
    text-align: center;

    &__title3 {
        margin-bottom: 15px;

        &:after {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__text {
        max-width: 645px;
        margin: 0 auto;
    }

    &__list {
        margin: 20px -10px 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: calc(100% / 12 * 4 - 20.1px);
        margin: 10px;
        padding: 35px 45px;
        transition: background .3s, box-shadow .4s;

        &:hover {
            background-color: #fff;
            box-shadow: 9px 17px 30px 0px rgba(0, 0, 0, .1);
        }
    }

    &__item-title {
        margin-top: 10px;
    }
}

.team {
    background: url('../images/our-team/team/bg.png') top right no-repeat;
    margin-top: -220px;
    padding-top: 220px;

    &__title3 {
        text-align: center;
        margin-bottom: 25px;

        &:after {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__list {
        margin-top: 30px;
        user-select: none;
    }

    &__item {
        height: 400px;
        position: relative;
    }

    &__item:hover &__item-inf {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &__item-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__item-inf {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 30px;
        padding: 15px 20px 17px;
        background: #fff;
        box-shadow: 0px 3px 18px rgba(0, 0, 0, .1);
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .4s ease-in-out;
        text-align: center;
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
        cursor: default;
    }

    &__item-title {
        margin-bottom: 3px;
        font-weight: 600;
        font-size: 17px;
        color: #2b2b2b;
        line-height: 27px;
    }

    &__item-type {
        font-size: 12px;
        color: #707070;
        line-height: 25px;
        margin-bottom: 10px;
    }

    &__social-links {
        justify-content: center;

        .social-links__item {
            margin: 0 4px;
        }
    }

    &__pagination {
        display: none;
        margin-top: 30px;
    }
}

.callback {
    background: url('../images/our-team/callback/bg.png') top center no-repeat;
    background-size: cover;
    margin-top: -370px;
    padding: 400px 0 100px;

    &__content {
        display: flex;
    }

    &__inf,
    &__form {
        width: 50%;
    }

    &__inf {
        padding-right: 30px;
    }

    &__message {
        color: #6a7c92;
        font-size: 17px;
        line-height: 34px;
    }
}

.callback-form {
    &__row {
        margin-bottom: 25px;

        &_half {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;

            .callback-form__field {
                margin: 0 15px;
            }
        }
    }

    &__field,
    &__area {
        border: none;
        border-bottom: 1px solid #53abe6;
        color: #828282;
        width: 100%;
        padding: 15px 0;
        outline: none;
        background: transparent;
    }

    &__area {
        resize: none;
        height: 115px;
    }
}

.contacts {
    background: url('../images/contact-us/contacts-bg.jpg') top center;
    background-repeat: no-repeat;
    padding: 70px 0 15px;

    &__content {
        display: flex;
    }

    &__inf,
    &__form {
        width: 50%;
    }

    &__inf {
        padding-right: 100px;
    }

    &__message {
        color: #6a7c92;
        margin-top: 25px;
    }

    &__list {
        margin-top: 30px;
        max-width: 320px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__item-inf {
        color: #6a7c92;
        margin-left: 35px;
    }

    &__item-link {
        color: inherit;
    }
}

.contact-form {
    background: #fff;
    box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, .12);
    transition: background .3s,border .3s, border-radius .3s,box-shadow .3s;
    padding: 45px 40px;
    border-radius: 8px;

    &__title {
        color: #1e1666;
        font-size: 25px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 30px;
    }

    &__field,
    &__area {
        padding: 15px 22px;
        border: 1px solid #f3f5fd;
        background-color: #f3f5fd;
        border-radius: 3px;
        width: 100%;
        font-size: 15px;
        margin-bottom: 15px;
        outline: none;

        &:focus {
            border-color: #fe5f88;
        }
    }

    &__area {
        resize: none;
        height: 124px;
    }
}

.map {
    height: 450px;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 200px 0 130px;
    text-align: center;

    &__title {
        margin: 5px 0 15px;
        font-weight: 700;
        font-size: 30px;
        color: #181818;
        line-height: 35px;
    }

    &__text {
        font-size: 16px;
        color: #737373;
        line-height: 26px;
        margin-bottom: 30px;
    }
}

.breadcrumb {
    color: #fff;
    display: flex;
    align-items: center;

    &__link {
        color: inherit;
        margin-right: 12px;
    }

    &__separator {
        margin-right: 12px;

        i {
            font-size: 10px;
        }
    }
}

.boxes {
    &__title3 {
        text-align: center;
        margin-bottom: 20px;
    }

    &__list {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: calc(100% / 12 * 3);
        position: relative;
        overflow: hidden;

        &:hover {
            .boxes__item-type,
            .boxes__item-link,
            .boxes__item-btns {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }

            .boxes__full-icon {
                opacity: 1;
                visibility: visible;
            }

            .boxes__item-img {
                transform: scale(1.3, 1.3);
                opacity: 0;
            }
        }
    }

    &__item-wrapper {
        position: relative;
        overflow: hidden;
        padding-top: calc((90/100)*100%);
    }

    &__item-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .2s, opacity .2s;
    }

    &__item-inf {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 25px 30px;
    }

    &__item-type {
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        color: #6a7c92;
        transform: translateX(-20px);
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s ease-in-out .2s, visibility .2s ease-in-out .2s, transform .2s ease-in-out .2s;
    }

    &__item-link {
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: #1e1666;
        transform: translateX(-20px);
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s ease-in-out .5s, visibility .2s ease-in-out .5s, transform .2s ease-in-out .5s;
    }

    &__item-btns {
        display: flex;
        position: absolute;
        right: 20px;
        top: 20px;
        transform: translateX(30px);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .4s ease-in-out;
    }

    &__item-btn {
        width: 34px;
        height: 34px;
        text-align: center;
        font-size: 12px;
        color: #1e1666;
        line-height: 32px;
        margin-left: 10px;
        background-color: transparent;
        border: 1px rgba(0, 0, 0, .7) solid;
        border-radius: 50%;
        cursor: pointer;
    }

    &__full-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
    }
}

.lg-container {
    .lg-backdrop {
        background-color: rgba(30, 30, 30, .9);
    }
    
    .lg-item {
        user-select: none;
    }
    
    .lg-progress-bar.lg-start .lg-progress {
        background: #ff5268;
        height: 2px;
        transition-timing-function: linear !important;
    }
}

@keyframes horizontalShake {
    16.65% {
        transform:translateX(8px)
    }
    
    33.3% {
        transform:translateX(-6px)
    }
    
    49.95% {
        transform:translateX(4px)
    }
    
    66.6% {
        transform:translateX(-2px)
    }
    
    83.25%{
        transform:translateX(1px)
    }
    
    100% {
        transform:translateX(0)
    }
}

@keyframes particleMove {
    0% {
        transform:translate(0,0);
        
    }
    
    25% {
        transform:translate(10px,10px);
    }
    
    50% {
        transform:translate(5px,5px);
    }
    
    75% {
        transform:translate(10px,-5px);
        
    }
    
    100% {
        transform:translate(0,0);
    }
}

@import 'media';